.hover-arrow {
    visibility: hidden;
    transition: all 0.2s;
    font-size: large;
  }
  
  .category-title:hover .hover-arrow {
    visibility: visible;
  }

  .link-hover:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    border-radius: 0.25rem;
  }

  .no-caret::after {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}